[submodule "qits-gateway"]
	path = services/qits-gateway
	url = https://github.com/QuicklyIterateTheSoftware/qits-gateway.git
	ignore = all
[submodule "qits-artifacts"]
	path = services/qits-artifacts
	url = https://github.com/QuicklyIterateTheSoftware/qits-artifacts.git
	ignore = all
[submodule "qits-otel"]
	path = services/qits-otel
	url = https://github.com/QuicklyIterateTheSoftware/qits-otel.git
	ignore = all
[submodule "qits-workspace-daemon"]
	path = qits-workspace-daemon
	url = https://github.com/QuicklyIterateTheSoftware/qits-workspace-daemon.git
	ignore = all
[submodule "qits-userflows"]
	path = libs/qits-userflows
	url = https://github.com/QuicklyIterateTheSoftware/qits-userflows.git
	ignore = all
[submodule "qits-integrations-angular"]
	path = integrations/qits-integrations-angular
	url = https://github.com/QuicklyIterateTheSoftware/qits-integrations-angular.git
	ignore = all
[submodule "qits-integrations-quarkus"]
	path = integrations/qits-integrations-quarkus
	url = https://github.com/QuicklyIterateTheSoftware/qits-integrations-quarkus.git
	ignore = all
[submodule "qits-workspaces"]
	path = services/qits-workspaces
	url = https://github.com/QuicklyIterateTheSoftware/qits-workspaces.git
	ignore = all
[submodule "qits-stt"]
	path = services/qits-stt
	url = https://github.com/QuicklyIterateTheSoftware/qits-stt.git
	ignore = all
[submodule "qits-ci"]
	path = services/qits-ci
	url = https://github.com/QuicklyIterateTheSoftware/qits-ci.git
	ignore = all
[submodule "qits-cd"]
	path = services/qits-cd
	url = https://github.com/QuicklyIterateTheSoftware/qits-cd.git
	ignore = all
[submodule "qits-repositories"]
	path = services/qits-repositories
	url = https://github.com/QuicklyIterateTheSoftware/qits-repositories.git
	ignore = all
