[submodule "qits-gateway"]
	path = services/qits-gateway
	url = ../qits-gateway.git
	ignore = all
	branch = main
	update = merge
[submodule "qits-platform-artifacts"]
	path = services/qits-platform-artifacts
	url = ../qits-platform-artifacts.git
	ignore = all
	branch = main
	update = merge
[submodule "qits-observability"]
	path = services/qits-observability
	url = ../qits-observability.git
	ignore = all
	branch = main
	update = merge
[submodule "qits-workspace-daemon"]
	path = daemons/qits-workspace-daemon
	url = ../qits-workspace-daemon.git
	ignore = all
	branch = main
	update = merge
[submodule "qits-userflows"]
	path = libs/qits-userflows
	url = ../qits-userflows.git
	ignore = all
	branch = main
	update = merge
[submodule "qits-integrations-angular"]
	path = libs/qits-integrations-angular
	url = ../qits-integrations-angular.git
	ignore = all
	branch = main
	update = merge
[submodule "qits-integrations-quarkus"]
	path = libs/qits-integrations-quarkus
	url = ../qits-integrations-quarkus.git
	ignore = all
	branch = main
	update = merge
[submodule "qits-workspaces"]
	path = services/qits-workspaces
	url = ../qits-workspaces.git
	ignore = all
	branch = main
	update = merge
[submodule "qits-stt"]
	path = services/qits-stt
	url = ../qits-stt.git
	ignore = all
	branch = main
	update = merge
[submodule "qits-ci"]
	path = services/qits-ci
	url = ../qits-ci.git
	ignore = all
	branch = main
	update = merge
[submodule "qits-repositories"]
	path = services/qits-repositories
	url = ../qits-repositories.git
	ignore = all
	branch = main
	update = merge
[submodule "qits-projects"]
	path = services/qits-projects
	url = ../qits-projects.git
	ignore = all
	branch = main
	update = merge
[submodule "qits-spa-home"]
	path = frontends/qits-spa-home
	url = ../qits-spa-home.git
	ignore = all
	branch = main
	update = merge
[submodule "qits-spa-ui-components"]
	path = libs/qits-spa-ui-components
	url = ../qits-spa-ui-components.git
	ignore = all
	branch = main
	update = merge
[submodule "qits-ci-daemon"]
	path = daemons/qits-ci-daemon
	url = ../qits-ci-daemon.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-platform-dns"]
	path = services/qits-platform-dns
	url = ../qits-platform-dns.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-spa-workspaces"]
	path = frontends/qits-spa-workspaces
	url = ../qits-spa-workspaces.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-spa-ci"]
	path = frontends/qits-spa-ci
	url = ../qits-spa-ci.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-spa-observability"]
	path = frontends/qits-spa-observability
	url = ../qits-spa-observability.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-platform-spa-artifacts"]
	path = frontends/qits-platform-spa-artifacts
	url = ../qits-platform-spa-artifacts.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-spa-projects"]
	path = frontends/qits-spa-projects
	url = ../qits-spa-projects.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-events"]
	path = services/qits-events
	url = ../qits-events.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-spa-events"]
	path = frontends/qits-spa-events
	url = ../qits-spa-events.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-eventstream"]
	path = libs/qits-eventstream
	url = ../qits-eventstream.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-platform-idp"]
	path = services/qits-platform-idp
	url = ../qits-platform-idp.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-oci"]
	path = images/qits-oci
	url = ../qits-oci.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-cli-bootstrap"]
	path = cli/qits-cli-bootstrap
	url = ../qits-cli-bootstrap.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-deployments"]
	path = services/qits-deployments
	url = ../qits-deployments.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-platform-docs"]
	path = services/qits-platform-docs
	url = ../qits-platform-docs.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-platform-spa-docs"]
	path = frontends/qits-platform-spa-docs
	url = ../qits-platform-spa-docs.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-spa-deployments"]
	path = frontends/qits-spa-deployments
	url = ../qits-spa-deployments.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-platform-edge"]
	path = services/qits-platform-edge
	url = ../qits-platform-edge.git
	ignore = all
	update = merge
	branch = main
[submodule "qits-oci-postgresql"]
	path = images/qits-oci-postgresql
	url = ../qits-oci-postgresql.git
	ignore = all
	update = merge
	branch = main
